/* mobile first */
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #fff8dc;
  font-weight: 400;
  line-height: 1.45;
}

hr {
  border: 1px solid #c6c0bb;
}
ul {
  list-style: none; /* Remove default bullets */
}

#projects ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #c6c0bb; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/********** START HEADER STYLES **********/

#main-header {
  background-color: #000;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  margin: 0 auto !important;
}

#header-content-wrapper,
#projects-wrapper {
  margin: 0 auto;
}

#site-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000;
}

.brand {
  text-align: center;
  padding: 0;
  margin: 0;
  transform: scale(1.1);
}

.brand a {
  text-decoration: none;
  color: rgb(255, 252, 243);
  font-family: "Charmonman", sans-serif;
}

#nav-button {
  background-color: #000;
  color: rgb(255, 252, 243);
  border: 1px solid #000;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  outline: transparent;
  height: 100%;
}

#navbar {
  width: 100%;
  animation-name: slidein;
  animation-duration: 0.5s;
  background-color: #000;
}

#main-nav {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-nav a {
  text-decoration: none;
  color: rgb(255, 252, 243);
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

#main-nav a[href="#about"] li {
  border-top: none;
}

#main-nav a[href="#contact"] li {
  border-bottom: 40px solid #000;
}

#main-nav li {
  border-top: 1px solid #000;
  padding: 10px;
}

/* NAVIGATION HOVER RULES */
#main-nav li:hover {
  background-color: rgb(255, 252, 243);
  color: #000;
  border-color: 1px solid rgb(255, 252, 243);
  transition: 0.3s all ease;
}

/********** END HEADER STYLES **********/

/********** START HERO SECTION STYLES **********/

#welcome-section {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#overlay {
  background: linear-gradient(0deg, #000, 25%, transparent);
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

#welcome-wrapper {
  z-index: 3;
  margin: 0 auto;
  color: rgb(255, 252, 243);
  padding-top: 25vh;
}

#main-title {
  font-family: "Lato", sans-serf;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 0px;
  display: inline-block;
  position: relative;
}

/* white line */
#main-title:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: -15px;
  left: 25%;
  border-bottom: 1px solid #000;
}

#main-subtitle {
  margin-bottom: 1.5rem;
  font-style: italic;
}

#hire-me {
  background-color: #000;
  color: rgb(255, 252, 243);
  padding: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  border-right: 1px solid rgb(255, 252, 243);
  border-left: 1px solid rgb(255, 252, 243);
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

#hire-me:hover {
  background-color: rgb(255, 252, 243);
  color: #000;
  transform: scale(1.1);
  box-shadow: #000 0px 0px 20px 0px;
}

.headshot {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 0 auto;
}

/********** END HERO SECTION STYLES **********/

/********** START PROJECTS SECTION STYLES **********/
/* #sfProjectTiles {
  display: none;
} */
#projects-wrapper {
  padding-left: 2%;
  padding-right: 2%;
  max-width: 1040px;
  margin: 0 auto;
}

#projects {
  padding: 50px 0px;
  width: 80%;
  text-align: center;
  height: 100%;
  margin: 0 auto;
}

#projects-title {
  display: inline-block;
  position: relative;
}

#projects-title:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: -15px;
  left: 25%;
  border-bottom: 1px solid #000;
}
#sfProjectTiles figure {
  max-height: 725px;
  overflow: hidden;
}

.card {
  margin: 0 auto;
}

.card h3 {
  margin: 0px 0px 20px 0px;
}

.project-description h4 {
  margin-top: 0px;
}

.project-description ul:first-of-type {
  margin-top: 0px;
}

.project-description ul:last-of-type {
  margin-bottom: 0px;
}

/* add hover rule to project snapshots */
.card:hover {
  transform: scale(1.05) !important;
  z-index: 5;
}

.card img {
  border: 1px solid #aaa;
  transition: all linear .25s;
}

.card img:hover {
  border: 1px solid #aaa;
  box-shadow: #666 0px 0px 20px 0px;
  transition: all linear .25s;
}

/* responsive images */
.resp-image {
  max-width: 100%;
}

/* remove padding and margins from figure tags */
figure {
  margin: 0;
  padding: 0;
  z-index: -3;
}

figcaption {
  text-align: center;
  line-height: 1.75rem;
}

figcaption ul {
  padding-left: 17px;
}

figcaption span {
  font-weight: bold;
}

.project-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 75px 0px;
}

.project-description {
  width: 100%;
  max-width: 400px;
  text-align: left;
  align-self: flex-start;
  font-size: 1.15em;
}

/* .project-description ul {
  margin-bottom: 0px;
} */

.project-description ul li {
  padding: 5px 0px;
}

.show-projects {
  display: block;
  opacity: 1;
  transition: all .5s ease-in;
}
.hide-projects {
  display: none;
  opacity: 0;
  transition: all .5s ease-in;
}



/********** END PROJECTS SECTION STYLES **********/

/********** START CONTACT SECTION STYLES **********/

#contact {
  background-color: #000;
  background-image: url("images/headshots-28a.jpg");
  background-size: contain;
  background-position: -160px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* #overlay2 {
  background: linear-gradient(0deg, transparent, 25%, #000);
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
} */

#contact-content-wrapper {
  color: rgb(255, 252, 243);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-title {
  display: inline-block;
  position: relative;
}

#contact-title:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: -15px;
  left: 25%;
  border-bottom: 1px solid rgb(255, 252, 243);
}

.contact-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contact-link a {
  margin: 25px;
}

.logo {
  width: 64px;
  max-width: 64px;
  height: auto;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: block;
}

.logo:hover {
  box-shadow: #000 0px 0px 20px 0px;
  transform: scale(1.25);
}

#codepen-logo {
  background-color: white;
}

/* make fcc logo green */
#fcc-logo {
  background-color: #006400;
}

/********** END CONTACT SECTION STYLES **********/

/********** START FOOTER SECTION STYLES **********/

.footer-text {
  text-align: center;
  font-size: 16px;
  width: 100%;
  color: rgb(255, 252, 243);
  background-color: #000;
  margin: 0;
  padding: 5px;
}

#email,
#phone {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

/********** END FOOTER SECTION STYLES **********/

/* NAVIGATION ANIMATION */
@keyframes slidein {
  from {
    padding-left: 100%;
  }

  to {
    padding-left: 0;
  }
}

@keyframes slideout {
  from {
    padding-left: 0;
  }

  to {
    padding-left: 100%;
  }
}

.hide {
  display: none;
}


.button-wrapper {
  display: Flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

button.button {
  width: 200px;
  border: 1px solid black;
  height: 50px;
  background-color: #000;
  color: #fff;
  outline: 0;
  cursor: pointer;
  margin: 2% 2% -1px 2%;
  transition: all .2s ease-in;
}

button.active {
  background: #fff8dc;
  color: #000;
  outline: 0;
  transition: all .2s ease-in;
  margin-bottom:-1px;
  z-index: 2;
  border-bottom: 1px solid #fff8dc;
}

/* .#000-bg {
  background-color: #000 !important;
  border-bottom: 2px solid rgb(255, 252, 243) !important;
} */

/********** START MEDIA QUERIES **********/

/* extra small screens */
@media all and (max-width: 325px) {
  #welcome-wrapper {
    padding-top: 15vh;
  }

  #navbar {
    border-bottom: solid 1px rgb(255, 252, 243);
  }
}

/*********** START LANDSCAPE MODE MEDIA QUERIES ***********/

@media all and (min-width: 500px) and (max-width: 600px) and (orientation: landscape) {
  #welcome-section,
  #contact {
    height: 600px !important;
  }

  .headshot {
    width: 83%;
  }
}

@media all and (min-width: 601px) and (max-width: 700px) and (orientation: landscape) {
  #welcome-section,
  #contact {
    height: 700px !important;
  }

  .headshot {
    width: 83%;
  }
}

@media all and (min-width: 701px) and (max-width: 800px) and (orientation: landscape) {
  #welcome-section,
  #contact {
    height: 800px !important;
  }

  .headshot {
    width: 90%;
  }
}

@media all and (min-width: 801px) and (max-width: 900px) and (orientation: landscape) {
  #welcome-section,
  #contact {
    height: 900px !important;
  }

  .headshot {
    width: 90%;
  }
}


/*********** END LANDSCAPE MODE MEDIA QUERIES ***********/

@media all and (max-width: 767px) {
  .project-description:nth-child(odd) {
      order: 2;
  }
  .project-description {
    padding: 12% 0px 0px 0px;
    margin: 0 auto;
  }

  .project-description h4 {
    text-align: center;
  }
}

/* medium screens and up */
@media all and (min-width: 768px) {
  /****************** START TYPE SCALE ******************/
  html {
    font-size: 1em;
  }

  p {
    margin-bottom: 1.3em;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
  }

  h1 {
    margin-top: 0;
    font-size: 3.157em;
  }

  h2 {
    font-size: 2.369em;
  }

  h3 {
    font-size: 1.777em;
  }

  h4 {
    font-size: 1.333em;
  }

  small,
  .font_small {
    font-size: 0.75em;
  }

  /****************** END TYPE SCALE ******************/

  #site-title {
    flex-direction: row-reverse;
  }

  #navbar,
  #site-title,
  #main-header {
    background-color: transparent;
  }

  .brand {
    visibility: hidden;
  }

  #welcome-section {
    background-image: url("images/headshots-13a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 25% 75%;
  }

  #overlay {
    display: block;
  }

  .headshot {
    display: none;
  }

  #welcome-wrapper {
    margin-left: 3%;
  }

  /* create three card layout for large screens */

  #projects {
    padding: 50px 0px;
    width: 100%;
    text-align: center;
    height: 100%;
  }

  .project-wrapper {
    flex-direction: row;
  }

  .card {
    width: 41%;
    /* margin-top: 1rem; */
  }

  #hire-me {
    max-width: 200px;
    padding: 10px 20px;
  }

  button.active {
    transform: scale(1.2);
    margin-bottom: 4px;
  }
  button.button {
    margin: 2% 2% 4px 2%;
  }
}



/* large screens and up */
@media all and (min-width: 1024px) {
  .brand {
    visibility: visible;
  }

  /* turn the header into a flex container on large screens */
  #header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 20px;
  }

  #site-title {
    flex-direction: row;
  }

  /* hide the navigation bars on large screens */
  #nav-button {
    display: none;
  }

  /* show the nav-bar on large screens */
  .hide {
    display: block;
  }

  /* create a flex container for the main nav on large screens*/
  #main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #navbar {
    max-width: 33.33%;
  }

  /* remove space beneath contact link on large screens*/
  #main-nav a[href="#contact"] li {
    border-bottom: none;
  }

  .headshot {
    display: none;
  }

  #welcome-section {
    background-image: url("images/headshots-13a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #welcome-wrapper {
    margin-left: 4%;
  }

  .card {
    width: 45%;
  }

  #contact {
    background-position: left;
  }
}

@media all and (min-width: 1280px) {
  #welcome-section {
    background-size: contain;
    background-position: 200px;
  }

  #welcome-wrapper {
    margin-left: 17%;
  }

  /* #pardotProjectTiles {
    justify-content: space-between;
  } */
}

@media all and (min-width: 1900px) {
  #welcome-section {
    background-size: contain;
    background-position: 66.66%;
  }

  #header-content-wrapper {
    padding: 0 17%;
  }

  #welcome-wrapper {
    margin-left: 21%;
  }

  #contact {
    background-position: 17%;
  }
}

@media all and (min-width: 2400px) {
  #welcome-section {
    background-size: contain;
    background-position: 400px;
  }

  #header-content-wrapper {
    padding: 0 17%;
  }

  #welcome-wrapper {
    margin-left: 29%;
  }
}
